@using Microsoft.Extensions.Logging
@using MyFinace.Modules.Goals
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using FluentValidation;
@using MyFinance.Model
@using MyFinance.Utility
@using MyFinance.Utility.Helper
@using Supabase.RestAPI
@using System.Text.Json

@inject NavigationManager NavigationManager

@implements IAsyncDisposable
@inject ISnackbar Snackbar

@* Global initialization *@
@code{
    private bool _isCreate = true; // Flag to determine if we are creating a new goal entry or 'edit' a existing goal.
    private string _model = string.Empty;
    private bool _isInitializing = true;
}

@* Parameter Initialization  *@
@code {
    private Goal _goal = new Goal();
    private MudForm? form;

    [Parameter]
    public SupabaseApiService<Goal> GoalService { get; set; }

    [Parameter]
    public Guid? GoalID { get; set; } = Guid.Empty; // Default to empty GUID if not provided

    [Parameter]
    public GlobalServices Global { get; set; }    
}
@if (_isInitializing)
{
    <MudCard Class="ma-8">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
    </MudCard>
}
else
{
 
    <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary" Class="mb-6 font-weight-bold">
        <MudIcon Icon="@Icons.Material.Filled.AddTask" Size="Size.Large" Class="mr-2" /> @_model Financial Goal
    </MudText>
    <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-8 ">
        Set your financial aspirations and track your progress with ease.
    </MudText>

    @* https://animate.style/ *@
    <MudPaper Elevation="6" Class="pa-6 rounded-xl animate__animated animate__fadeInUp">
        <MudForm Model="@_goal" @ref="form" Validation="@(GoalValidator)">
            <MudGrid Spacing="4">
                <MudItem xs="12" sm="6">
                    <MudTextField @bind-Value="_goal.Name"
                                  Label="Goal Name"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Lightbulb"
                                  AdornmentColor="Color.Warning"
                                  Required="true"
                                  RequiredError="Goal Name is required!"
                                  Clearable="true"
                                  For="@(() => _goal.Name)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudSelect @bind-Value="_goal.InvestmentCategory"
                               Label="Investment Category"
                               Variant="Variant.Outlined"
                               Adornment="Adornment.Start"
                               AdornmentIcon="@Icons.Material.Filled.Category"
                               AdornmentColor="Color.Info"
                               Required="true"
                               RequiredError="Investment Category is required!"
                               For="@(() => _goal.InvestmentCategory)">
                        @foreach (InvestmentCategory category in Enum.GetValues(typeof(InvestmentCategory)))
                        {
                            <MudSelectItem Value="@category">@category.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="_goal.Description"
                                  Label="Description"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Description"
                                  Lines="3"
                                  AdornmentColor="Color.Secondary"
                                  For="@(() => _goal.Description)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudNumericField @bind-Value="_goal.TargetAmount"
                                     Label="Target Amount"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                     AdornmentText="₹"
                                     AdornmentColor="Color.Success"
                                     Required="true"
                                     RequiredError="Target Amount is required and must be greater than 0!"
                                     Format="N2"
                                     HideSpinButtons="true"
                                     For="@(() => _goal.TargetAmount)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudNumericField @bind-Value="_goal.TotalAmountInvested"
                                     Label="Amount Already Invested"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.Payments"
                                     AdornmentText="₹"
                                     AdornmentColor="Color.Success"
                                     Required="true"
                                     RequiredError="Amount Invested is required and cannot be negative!"
                                     Format="N2"
                                     HideSpinButtons="true"
                                     For="@(() => _goal.TotalAmountInvested)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudDatePicker @bind-Date="_goal.StartedYear"
                                   Label="Start Date"
                                   Variant="Variant.Outlined"
                                   Adornment="Adornment.Start"
                                   AdornmentIcon="@Icons.Material.Filled.DateRange"
                                   AdornmentColor="Color.Tertiary"
                                   Required="true"
                                   RequiredError="Start Date is required!"
                                   MaxDate="@DateTime.Today"
                                   For="@(() => _goal.StartedYear)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudDatePicker @bind-Date="_goal.TargetYear"
                                   Label="Target Date"
                                   Variant="Variant.Outlined"
                                   Adornment="Adornment.Start"
                                   AdornmentIcon="@Icons.Material.Filled.CalendarToday"
                                   AdornmentColor="Color.Tertiary"
                                   Required="true"
                                   RequiredError="Target Date is required!"
                                   MinDate="@(_goal.StartedYear)"
                                   For="@(() => _goal.TargetYear)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudNumericField @bind-Value="_goal.TotalSIPAmount"
                                     Label="Total SIP Amount"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.Start"
                                     AdornmentIcon="@Icons.Material.Filled.Payments"
                                     AdornmentText="₹"
                                     AdornmentColor="Color.Success"
                                     Required="true"
                                     RequiredError="SIP Amount is required and cannot be negative!"
                                     Format="N2"
                                     HideSpinButtons="true"
                                     For="@(() => _goal.TotalSIPAmount)" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudSelect @bind-Value="_goal.Status"
                               Label="Goal Status"
                               Variant="Variant.Outlined"
                               Adornment="Adornment.Start"
                               AdornmentIcon="@Icons.Material.Filled.PieChart"
                               AdornmentColor="Color.Primary"
                               Required="true"
                               RequiredError="Goal Status is required!"
                               For="@(() => _goal.Status)">
                        @foreach (GoalStatus status in Enum.GetValues(typeof(GoalStatus)))
                        {
                            <MudSelectItem Value="@status">@status.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="_goal.ImageSVG"
                                  Label="Image (SVG)"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Image"
                                  AdornmentColor="Color.Warning"
                                  HelperText="Paste your SVG code here. (e.g., &lt;svg&gt;...&lt;/svg&gt;)"
                                  Lines="5"
                                  For="@(() => _goal.ImageSVG)" />
                    @if (!string.IsNullOrWhiteSpace(_goal.ImageSVG))
                    {
                        <div class="d-flex justify-center mt-4">
                            <MudPaper Class="rounded-lg pa-2 mud-border-primary" Style="max-width: 150px; max-height: 150px; overflow: hidden;">
                                <div dangerouslySetInnerHTML="@((MarkupString)_goal.ImageSVG)"></div>
                            </MudPaper>
                        </div>
                        <MudText Typo="Typo.caption" Align="Align.Center" Class="mt-2">
                            SVG Preview
                        </MudText>
                        <MudText Typo="Typo.caption" Align="Align.Center" Class="mt-1 text-danger">
                            Note: If the SVG preview is not visible, ensure your pasted SVG is valid and check your browser's console for Content Security Policy (CSP) errors.
                        </MudText>
                    }
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="_goal.Tag"
                                  Label="Tags (comma-separated)"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Label"
                                  AdornmentColor="Color.Dark"
                                  HelperText="E.g., #retirement, #education, #car"
                                  For="@(() => _goal.Tag)" />
                </MudItem>
            </MudGrid>

            <div Class="d-flex justify-space-between flex-grow-1 gap-4">
                <div Class="d-flex justify-start flex-grow-1 gap-4" Elevation="0">
                    <MudIconButton 
                        OnClick="@(() => NavigationManager.NavigateTo("dynamic-forms/Goals/List"))" 
                        Icon="@Icons.Material.Filled.ArrowBack" 
                        aria-label="go back" />
                </div>
                <div Class="d-flex justify-end flex-grow-1 gap-4" Elevation="0">
                    <MudButton Variant="Variant.Filled"
                                Color="Color.Primary"
                                Size="Size.Small" StartIcon="@Icons.Material.Filled.Save"
                                Class="mt-4 mud-elevation-2"
                                OnClick="Submit">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText>Submit</MudText>
                        }
                    </MudButton>
                    <MudButton Variant="Variant.Outlined"
                                Color="Color.Secondary"
                                Size="Size.Medium"
                                Class="mt-4 mud-elevation-2"
                                StartIcon="@Icons.Material.Filled.Refresh"
                                OnClick="Reset">
                        Reset
                    </MudButton>

                </div>
            </div>
           
        </MudForm>
    </MudPaper>

}

@* Method Initialization *@
@code {
    protected override async Task OnInitializedAsync()
    {        
        _isInitializing = true;
        try
        {
            if (GoalService == null)
            {
                throw new ArgumentNullException(nameof(GoalService), "GoalService cannot be null.");
            }
            else if (string.IsNullOrEmpty(GoalService.AccessToken))
            {
                throw new ArgumentException("AccessToken cannot be null or empty.", nameof(GoalService.AccessToken));
            }

            // Determine if we are creating a new goal entry or editing an existing one
            if (Guid.Empty == GoalID)
            {
                _isCreate = true; // Creating a new goal entry
                SetDefaultGoal();
            }
            else
            {
                _isCreate = false; // Editing an existing goal entry
                var toEdit = await GoalService.GetById(GoalID);
                _goal = toEdit.Data;
                    
            }
            _model = _isCreate ? "Create" : "Edit";
            LogHelper.LogMessage(
                source: "GoalAction",
                method: "OnInitializedAsync",
                level: LogLevel.Information,
                message: $" Goal : {JsonSerializer.Serialize<Goal>(_goal)}");

            // Optionally, you can fetch initial data or perform other setup tasks here
            await Task.Delay(500); // Simulate some delay for initialization"
        }

        finally
        {
            _isInitializing = false;
        }        
    }

    private void SetDefaultGoal()
    {
        #region Goal
        _goal.CreatedAt = DateTime.UtcNow;
        _goal.StartedYear = DateTime.Today;
        _goal.TargetYear = DateTime.Today.AddYears(1);
        _goal.Status = MyFinance.Model.GoalStatus.YTB;
        _goal.OwnedBy = "CurrentUser"; // Replace with actual user ID
        _goal.TotalAmountInvested = 15000;
        _goal.TotalSIPAmount = 25000;
        _goal.TargetAmount = 25000;

        _goal.Tag = "#status, #retirement, #education";
        _goal.Name = "My Financial Goal"; // Default name for the goal
        _goal.Description = "This is a sample goal description. Please update it with your actual goal details.";
        _goal.InvestmentCategory = MyFinance.Model.InvestmentCategory.Bonds; // Default category for the goal
        _goal.ImageSVG = "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='lightblue'/></svg>"; // Default SVG

        #endregion
	}
}

@* Submission Goal Creation *@
@code {
    private bool _processing = false;
    private async Task Submit()
    {
        try
        {
            _processing = true;
            await form!.Validate();

            if (form.IsValid)
            {
                #region Verify User Session
                var jsSession = Global.GetSession();
                if (jsSession != null)
                {
                    _goal.OwnedBy = jsSession.User.Email;
                }
                else
                {
                    _goal.OwnedBy = "No User. jsSession Null";
                }
                #endregion

                
                //Add/edit Goal Logics.
                SupabaseResult<Goal> result;
				_goal.LastModified = DateTime.UtcNow;
                if (_isCreate)
                {
                    result = await GoalService.Create(_goal);
                }
                else
                {

                    result = await GoalService.Update(GoalID, _goal);
                }
                
                if (result.IsSuccess)
                {
                    Snackbar.Add($"Goal '{_goal.Name}' {_model} successfully!", MudBlazor.Severity.Success);
                    Reset();
                }
                else
                {
                    Snackbar.Add($"Goal '{_goal.Name}', Failed to Save. {result.ErrorMessage}", MudBlazor.Severity.Error);
                }
                LogHelper.LogMessage(
                    message: $"Creating Goal: {JsonSerializer.Serialize<Goal>(_goal)}",
                    source: "GoalAction.razor",
                    method: "Submit"
                );

            }
            else
            {
                Snackbar.Add("Please correct the errors in the form.", MudBlazor.Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred while saving the goal: {ex.Message}", MudBlazor.Severity.Error);
            LogHelper.LogMessage(ex: ex, message: "Error occured.",
            level: LogLevel.Error, source: "AddGoal", method: "Submit");
        }
        finally
        {
            _processing = false;

            NavigationManager.NavigateTo("dynamic-forms/GoalContribution/List");
        }
    }


    private void Reset()
    {
        _goal = new Goal();
        OnInitialized(); // Re-initialize default values
        form?.ResetValidation(); // Reset validation state
    }

    // This is the implementation of IAsyncDisposable
    public async ValueTask DisposeAsync()
    {
        // This method is called when the component is being disposed of.
        // It's the place to clean up any IAsyncDisposable resources that
        // were passed as parameters or created by this component.
        // if (SupabaseService is not null)
        // {
             //await SupabaseService.DisposeAsync();
        //     Console.WriteLine("SupabaseService (passed as parameter) disposed asynchronously.");
        // }
    }
}

@* Goal Validator *@
@code {

    // Validation class for GoalEntity
    public class GoalEntityValidator : AbstractValidator<Goal>
    {
        public GoalEntityValidator()
        {
            RuleFor(x => x.Name)
                .NotEmpty()
                .WithMessage("Goal Name is required.")
                .Length(3, 100)
                .WithMessage("Goal Name must be between 3 and 100 characters.");

            RuleFor(x => x.InvestmentCategory)
                .NotEmpty()
                .WithMessage("Investment Category is required.");

            RuleFor(x => x.TargetAmount)
                .GreaterThan(0)
                .WithMessage("Target Amount must be greater than 0.");

            RuleFor(x => x.TotalAmountInvested)
                .GreaterThanOrEqualTo(0)
                .WithMessage("Amount Already Invested cannot be negative.");

            RuleFor(x => x.StartedYear)
                .NotNull()
                .WithMessage("Start Date is required.");

            RuleFor(x => x.TargetYear)
                .NotNull()
                .WithMessage("Target Date is required.")
                .GreaterThanOrEqualTo(x => x.StartedYear)
                .WithMessage("Target Date cannot be before Start Date.");

            RuleFor(x => x.Status)
                .IsInEnum()
                .WithMessage("Invalid Goal Status.");
        }
    }

    private GoalEntityValidator GoalValidator = new GoalEntityValidator();
}
